/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import "primeicons/primeicons.css";

/* ========================= */
/* Tema Claro */
/* ========================= */

:root {

    /* Fondo */
    --background: #f8fafc;
    --surface: #ffffff;

    /* Navbar */
    --navbar-bg: #ffffff;
    --navbar-border: #e2e8f0;

    /* Footer */
    --footer-bg: #8ec7e741;
    --footer-border: #e2e8f0;

    /* Texto */
    --text: #0f172a;
    --text-secondary: #64748b;

    /* Botones */
    /* --primary-btn: rgb(52, 211, 153); */
    /* --primary-btn: rgb(52, 161, 211);
    --primary-btn-text: #000;
    --hover: #f1f5f9; */
        /* ==========================
       BOTÓN PRIMARIO
       Acción principal
       ========================== */
    --primary-btn: hsl(194, 100%, 74%);
    --primary-btn-hover: #4fec9e;
    --primary-btn-active: #1E6F97;
    --primary-btn-text: #000;

    /* Links */
    --primary: #2563eb;
    --primary-hover: #1d4ed8;

    /* Sombras */
    --shadow: 0 2px 10px rgba(0,0,0,.08);

}

/* ========================= */
/* Tema Oscuro */
/* ========================= */

html.dark {

    --background: #0f172a;
    --surface: #1e293b;

    --navbar-bg: #111827;
    --navbar-border: #334155;

    --footer-bg: #111827;
    --footer-border: #334155;

    --text: #f8fafc;
    --text-secondary: #94a3b8;

    --hover: #334155;

    --primary: #60a5fa;
    --primary-hover: #93c5fd;

    --shadow: 0 2px 15px rgba(0,0,0,.45);

}

/* ========================= */
/* Base */
/* ========================= */

html,
body{
    margin:0;
    padding:0;
    background:var(--background);
    color:var(--text);
    transition:all .25s ease;
    font-family:Inter, sans-serif;
}

.p-button-primary{

    background: var(--primary-btn) !important;
    color: var(--primary-btn-text) !important;
    border-color: var(--primary-btn) !important;

}

.p-button-primary:hover{

    background: var(--primary-btn-hover) !important;
    border-color: var(--primary-btn-hover) !important;

}